<html xmlns:th="http://www.thymeleaf.org">


<script type="text/javascript" src="/static/dist/vendors/datatables.net/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/dist/vendors/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script type="text/javascript" src="/static/dist/vendors/datatables.net-select/js/dataTables.select.js"></script>
<script type="text/javascript" src="/static/dist/vendors/jquery-datatables-checkboxes/js/dataTables.checkboxes.js"></script>