<html xmlns:th="http://www.thymeleaf.org">

<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class="nav-icon icon-speedometer"></i> 总览
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-title">会员</li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-icon icon-user"></i> 会员管理</a>
            </li>



        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>