<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tms.admin.dao.UsersMapper">
  <resultMap id="BaseResultMap" type="com.tms.admin.model.Users">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="gender" property="gender" javaType="com.tms.admin.core.Handler.GenderEnum" typeHandler="com.tms.admin.core.Handler.EnumKeyTypeHandler" />
    <result column="register_date" jdbcType="TIMESTAMP" property="registerDate" />
  </resultMap>
  <select id="searchAll" parameterType="String"  resultMap="BaseResultMap">
    select * from users where 1=1
    <if test="key!=null">
      and (
      id LIKE concat(concat('%',#{key}),'%')
      or username LIKE concat(concat('%',#{key}),'%')
      or password LIKE concat(concat('%',#{key}),'%')
      or nick_name LIKE concat(concat('%',#{key}),'%')
      )
    </if>
  </select>
</mapper>